@import './variable';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header.page-header {
    @apply fixed top-0 left-0 w-full;
    background-color: $top-bar-bg;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
    z-index: 10;

    .contact {
      @apply w-full flex gap-5 overflow-x-auto;
      height: 36px;
      background: rgba(0,0,0,.5);

      .contact-attribute {
        @apply flex gap-1 items-center overflow-x-auto;

        .contact-icon {
          @apply text-base text-slate-400;
        }

        .contact-value {
          @apply text-base font-medium text-slate-400;
        }
      }
    }

    .social {
      @apply flex text-right items-center gap-2 pr-10;
      background: rgba(0,0,0,.5);
    }

    .menu {
      @apply grid items-center bg-gray-900;
      height: 100px;

      .menu-left {
        @apply flex text-gray-50 gap-10;

        .nav-item {
          &.active, &:hover {
            i.underline {
              @apply w-full;
            }
          }

          i.underline {
            @apply block w-0 mt-1;
            left: 1px;
            background-color: #d8717e;
            height: 2px;
            opacity: .85;
            transition: all .3s cubic-bezier(.175,.885,.32,1.275);
          }
        }
      }
    }
  }

  .page-content {
    margin-top: 136px;
    margin-bottom: 110px;
  }

  footer.footer {
    @apply fixed w-full bottom-0 px-10 text-white text-base;
    background: #1a1c20 none repeat center top;
  }

  .new-feature {
    height: 745px;
    background-color: #280c20;
  }
}
