@import './variable';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header.page-header {
    @apply fixed top-0 left-0 w-full;
    background-color: $top-bar-bg;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
    z-index: 10;

    .contact {
      @apply w-full flex gap-5 overflow-x-auto;
      min-height: 36px;
      background: rgba(0,0,0,.5);

      @media only screen and (max-width: 640px) {
        @apply flex-col bg-white text-gray-900 pl-0 mt-5;

        .contact-attribute {
          @apply flex gap-1 items-center overflow-x-auto;

          .contact-icon {
            @apply text-gray-900;
          }

          .contact-value {
            @apply text-base font-medium text-gray-900;
          }
        }
      }

      .contact-attribute {
        @apply flex gap-1 items-center overflow-x-auto;

        .contact-icon {
          @apply text-base text-slate-400;
        }

        .contact-value {
          @apply text-base font-medium text-slate-400;
        }
      }
    }

    .social {
      @apply flex text-right items-center gap-2 pr-10;
      background: rgba(0,0,0,.5);

      @media only screen and (max-width: 640px) {
        @apply bg-white justify-center mt-5;
      }
    }

    .top-bar {
      @media only screen and (max-width: 640px) {
        @apply flex-col;
      }
    }

    .menu {
      @apply grid items-center bg-gray-900;
      height: 100px;
    }

    .menu-util {
      @media only screen and (max-width: 640px) {
        @apply flex-col justify-evenly;
      }
    }

    .menu-left {
      @apply flex text-gray-50 gap-10;

      @media only screen and (max-width: 640px) {
        @apply text-gray-900 h-16 justify-between w-full;
      }

      .nav-item {
        &.active, &:hover {
          i.underline {
            @apply w-full;
          }
        }

        i.underline {
          @apply block w-0 mt-1;
          left: 1px;
          background-color: #d8717e;
          height: 2px;
          opacity: .85;
          transition: all .3s cubic-bezier(.175,.885,.32,1.275);
        }

        @media only screen and (max-width: 640px) {
          @apply flex-col border-b-2 border-gray-200;

          &.active, &:hover {
            @apply text-rose-300;
          }

          i.underline {
            display: none
          }
        }
      }
    }
  }

  .page-content {
    margin-top: 136px;
    margin-bottom: 110px;

    @media only screen and (max-width: 640px) {
      margin-top: 60px;
    }
  }

  footer.footer {
    @apply w-full bottom-0 px-10 text-white text-base flex items-center gap-5 sm:h-20;
    background: #1a1c20 none repeat center top;

    @media only screen and (max-width: 640px) {
      @apply flex-col text-center;
    }
  }

  .new-feature {
    height: 745px;
    background-color: #280c20;
  }

  .menu-items {
    @media only screen and (max-width: 640px) {
      @apply flex gap-2 flex-wrap justify-center;
      a {
        i.underline {
          display: none;
        }
      }
    }
  }

  .modal {
    // display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

}
